<h1>Medidor 1</h1>
<div id="gauge">
    <div id="major-ticks">
      <span>0</span>
      <span>50</span>
      <span>100</span>
    </div>
    <div id="minor-ticks">
      <span style="--i: 1"></span>
      <span style="--i: 2"></span>
      <span style="--i: 3"></span>
      <span style="--i: 4"></span>
      <span style="--i: 5"></span>
      <span style="--i: 6"></span>
      <span style="--i: 7"></span>
      <span style="--i: 8"></span>
      <span style="--i: 9"></span>
      <span style="--i: 10"></span>
      <span style="--i: 11"></span>
      <span style="--i: 12"></span>
      <span style="--i: 13"></span>
      <span style="--i: 14"></span>
      <span style="--i: 15"></span>
      <span style="--i: 16"></span>
      <span style="--i: 17"></span>
      <span style="--i: 18"></span>
      <span style="--i: 19"></span>
      <span style="--i: 20"></span>
    </div>
    <div id="minor-tick-bottom-mask"></div>
    <div id="bottom-circle"></div>
    <svg
      version="1.1"
      baseProfile="full"
      width="190"
      height="190"
      xmlns="http://www.w3.org/2000/svg"
    >
      <linearGradient id="gradient" x1="0" x2="1" y1="0" y2="0">
        <stop offset="0%" stop-color="#6cbb81" />
        <stop offset="50%" stop-color="#ffff00" />
        <stop offset="100%" stop-color="#d03900" />
      </linearGradient>
      <path
        d="M5 95 A80 80 0 0 1 185 95"
        stroke="url(#gradient)"
        fill="none"
        stroke-width="10"
        stroke-linecap="round"
        [attr.stroke-dasharray]="getStrokeDasharray()"
      />
    </svg>
    <button style="border-color: #e4e4e4; cursor: pointer;" id="center-circle">
      <span id="name">WH</span>
      <span id="value">{{ value }}</span>
      <img src="" alt="" />
    </button>
    <button class="boton" *ngIf="adver">
        <img style="height: 40px; width: 40px" src="assets/warning.png" />
      </button>
  </div>

  

  <div class="datos">
    <div id="Energia-Box">
      <div class="titulo">Energia</div>
      <div id="icono">
        <mat-icon class="icon">power</mat-icon>
        <span id="value-power">{{ value }} kWh</span>
      </div>
    </div>
    <div id="Coste-Box">
      <div class="titulo">Coste</div>
      <div id="icono">
        <mat-icon class="icon">payments</mat-icon>
        <span id="value-power">$0.0</span>
      </div>
    </div>
    <div id="Co2-box">
      <div class="titulo">Co2</div>
      <div id="icono">
        <mat-icon class="icon">factory</mat-icon>
        <span id="value-power"> 0 Kg</span>
      </div>
    </div>
  </div>
  
  
