<div class="General">
    <img class="logo" src="assets/SEYA.png">

    <div class="cards">
        <div class="card">
            <div class="face front">
                <img src="assets/objetivo.png" alt="">
                <h3>Misión</h3>
            </div>
            <div class="face back">
                <h3>Misión</h3>
                <p>Proporcionar un servicio integral de monitoreo y control de paneles solares que permita a los usuarios optimizar su consumo energético y reducir sus costos operativos. A través de la detección temprana de fallas, comparativas detalladas de consumo, alertas personalizadas, y recomendaciones basadas en datos, empoderamos a nuestros clientes para que tomen decisiones informadas que mejoren 
                la eficiencia de sus sistemas solares y reduzcan su huella ecológica</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="assets/brujula.png" alt="">
                <h3>Visión</h3>
            </div>
            <div class="face back">
                <h3>Visión</h3>
                <p>Ser el sistema líder de monitoreo y optimización de paneles solares, proporcionando a nuestros usuarios la capacidad de maximizar la eficiencia energética y económica de sus instalaciones solares, mientras contribuyen a la reducción de la huella de carbono. Queremos empoderar a las personas y organizaciones para que alcancen un futuro más sostenible, aprovechando al máximo la energía renovable 
                a través de la innovación y la tecnología avanzada</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="assets/handshake.png" alt="">
                <h3>Valores</h3>
            </div>
            <div class="face back">
                <h3>Valores</h3>
                <p>
                <li>Sostenibilidad: Nos comprometemos a promover prácticas que reduzcan 
                    el impacto ambiental y fomenten el uso de energías renovables.</li>
                <li>Eficiencia: Nos esforzamos por maximizar la eficiencia operativa de los sistemas solares, ayudando a nuestros 
                        clientes a reducir costos y optimizar su consumo energético.</li>
            </p>
            </div>
        </div>
    </div>
    
</div>

