<div class="General">
    <img src="assets/SEYA.png">
<div class="text">


    <h1><em>Misión</em></h1>
    <p>Proporcionar un servicio integral de monitoreo y control de paneles solares que permita a los usuarios optimizar su consumo energético y reducir sus costos operativos. A través de la detección temprana de fallas, comparativas detalladas de consumo, alertas personalizadas, y recomendaciones basadas en datos, empoderamos a nuestros clientes para que tomen decisiones informadas que mejoren la eficiencia de sus sistemas solares y reduzcan su huella ecológica.</p>
    <h1> <em>Visión</em> </h1>
    <p>Ser el sistema líder de monitoreo y optimización de paneles solares, proporcionando a nuestros usuarios la capacidad de maximizar la eficiencia energética y económica de sus instalaciones solares, mientras contribuyen a la reducción de la huella de carbono. Queremos empoderar a las personas y organizaciones para que alcancen un futuro más sostenible, aprovechando al máximo la energía renovable a través de la innovación y la tecnología avanzada.</p>
    <h1> <em>Sostenibilidad</em> </h1>
    <p>Nos comprometemos a promover prácticas que reduzcan el impacto ambiental y fomenten el uso de energías renovables.</p>
    <h1><em>Eficiencia </em> </h1>
    <p>Nos esforzamos por maximizar la eficiencia operativa de los sistemas solares, ayudando a nuestros clientes a reducir costos y optimizar su consumo energético.</p>
    <h1> <em>Responsabilidad</em> </h1>
    <p>Actuamos con integridad y transparencia, asegurando que nuestros productos y servicios cumplan con los más altos estándares de calidad y seguridad.</p>
</div>
</div>

